/*#izaPresent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
    position: relative;
}

#izaImage{
    width: 200px;
    height: 288px;
}

#izaImage{
    width: 200px;
    height: 288px;
    
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--color30);

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#txtIzaPresent{
    margin: 16px 0 40px 0;
    padding: 0 32px;
}
*/

@media screen and (min-width: 769px) {
    /* #izaPresent{
        padding: 64px 10%;
        flex-direction: row;
        justify-content: center;
    }

    #izaImage{
        width: 376px;
        height: unset;
        align-self: baseline;
        justify-content: center;
    }

    #txtIzaPresent{
        width: 416px;
        margin: 0;
    }
    #txtIzaPresent h2{
        color: var(--color30);
        font-size: 2rem;
    }
    */
}