p{
    margin-top: 8px;
}

#servicesStripe h1{
    color: #fff;
}

.videoServices{
    width: 100%;
}

#servicesContent{
    padding: 40px 8px;
    position: relative;
}

.separator{
    height: 56px;
}

.individualService{
    color: #fff;
}

.txtServices{
    color: #fff;
    background-color: var(--colorContrast);
    padding: 16px;
    border-radius: 17px;
}

.txtServices h3{
    margin-top: 16px;
}

.txtServices ul{
    margin-top: 8px;
    font-family: var(--fontParagraph);
    font-size: 1.10rem;
    font-weight: 500;
    line-height: 24px;
    opacity: .9;
}

.txtServices ul li{
    margin-top: 8px;
    font-weight: bold;
}

.photoService{
    border-radius: 17px;
    margin-top: 8px;
}


@media screen and (min-width: 769px) {

    #servicesContent{
        padding: 64px 10%;
        display: grid;
        grid-template-rows: 3, 1fr;
        row-gap: 32px;
    }
    .individualService{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "left right";
        column-gap: 16px;
    }
    .secondTxt{ grid-area: right; }
    .secondImage{ grid-area: left; justify-self: flex-end; }


    .txtServices{
        width: 400px;
    }

    .firstTxt,
    .thirdTxt{
        justify-self: flex-end;
    }

    .photoService{
        align-self: center;
        width: 400px;
        margin: 0;
    }
    .separator{
        display: none;
    }
}